body {
    height: 100vh;
}

header {
    margin: 64px 0;
    text-align: center;
}

hr {
    border: 0;
    clear: both;
    display: block;
    background-color: #ababab;
    height: 1px;
}

progress {
    margin: 8px 0;
}

.button-controller .button {
    margin: 8px 0;
}

.is-outlined {
    border-color: #7b7b7b;
}

.is-outlined:hover {
    border-color: #2b2b2b;
}

.canvas {
    margin-top: 68px;
}

.is-fullpage {
    height: 100vh;

    padding-top: 5rem;
}

.button-container {
    display: flex;
}

.button-container .button {
    flex: 1;
    margin: .3rem;
}

.no-side-margins {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.flex-horizontally-centered {
    justify-content: center;
}

.flex-centered {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rpc-ai-field {
    width: 100%;
    height: 100%;
}

.ai-symbol[data-status="count-down"] {
    animation: move 1050ms 3;
    animation-timing-function: ease-in;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40%);
    }
    70% {
        transform: translateY(-50%);
    }
    75% {
        transform: translateY(-50%);
    }
    80% {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(0);
    }
}

}